<nav class="post-breadcrumb">
  <a href="{{ url_for('/') }}">首页</a>

  {% if post.categories.length %}
    {% set cat = post.categories.first() %}
    <span> - </span>
    <a href="{{ url_for(cat.path) }}">{{ cat.name }}</a>
  {% endif %}

  <span> - </span>
  <span>{{ post.title }}</span>
</nav>
