<nav class="breadcrumb">
  <ul>
    <li>
      <a href="{{ url_for('/') }}">首页</a>
    </li>

    {% if post.categories and post.categories.length %}
      {% for cat in post.categories %}
        <li>
          <span>/</span>
          <a href="{{ url_for(cat.path) }}">{{ cat.name }}</a>
        </li>
      {% endfor %}
    {% endif %}

    <li>
      <span>/</span>
      {{ post.title }}
    </li>
  </ul>
</nav>
